/* Top stats section */
.stats-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.stat-card {
  flex: 1;
  padding: 20px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #4d4dff;
}

.count {
  font-size: 34px;
  font-weight: 600;
}

.label {
  font-size: 15px;
  color: #777;
}


/* Welcome box section */
.dashboard-container {
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h1 {
    color: #333;
    margin-bottom: 15px;
    font-size: 28px;
  }

  p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
}
